body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 340%;
  padding-left: 100px;
}

main {
  margin: 0;
  margin-top: 10px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 400%;
  padding-left: 100px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.signup {
  font-size: 150%;
  padding-left: 340px;

}

.search {
  padding-bottom: 40px;
}

main {
  padding-left: 350px;
}

nav {
  padding-bottom: 100px;
  padding-top: 50px;
  font-size: 175%;
}

.jumbotron {
  margin: 120px;
  width: 900px;
  float: right;
  margin-right: 100px;
}



.landing {
  font-size: 500%;
}
